/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/img/wallpaperflare.com_wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 600;
}

img {
  max-width: 100%;
}

.row>* {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.row {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/* Wrapper/Main Container */
.ms_wrapper {
  margin: 10vh auto;
  width: 60%;
  height: 500px;
}

.ms_train-ticket {
  background-image: url(/img/pattern.svg);
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px;
}

/* Left Ticket Column */
.ms_company-logo,
.ms_qr-scan,
.ms_ticket-validation {
  width: 50%;
}

.ms_ticket-number-id {
  background-color: #FD5900;
}

/* Middle Ticket Column */
.col-3 input {
  width: 90%;
}

.primary-btn {
  background-color: #FD5900;
  width: 80%;
}

/* Right Ticket Column */
.ms_padding {
  padding-top: 12px;
}